* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* BEGIN SEARCH BAR */
#search-bar {
	display: flex;
	width: 100%;
	padding: 5px 15px;
	position: relative;
	justify-content: center;
}

#main-header {
	position: relative;
}

#search-bar .icon {
	padding: 5px 15px;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #b5fdc8;
	position: relative;
	z-index: 5;
}

#search-bar input {
	border: 1px solid black;
	outline: none;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: none;
	width: 100%;
	background-color: #b5fdc8;
	padding: 5px 15px;
	position: relative;
	z-index: 5;
}

.mask-on-focus-input {
	position: fixed;
	background: #ccc;
	opacity: 0.5;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
}

.search-focused {
	z-index: 5 !important;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 12px 15px !important;
}

.content-search {
	position: absolute;
	z-index: 4;
	width: 90%;
	background: white;
	top: 30px;
	display: none;
	padding: 70px;
	justify-content: center;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.show {
	display: flex;
}

#loader {
	position: relative;
	height: 100px;
	margin: 0 auto;
}

/* END SEARCH BAR */

/* BEGIN Product */
.product img {
	height: 100px;
	width: 100px;
}
.product {
	width: 100%;
	display: flex;
	margin-bottom: 30px;
}

/* BEGIN LOGO */

#logo {
	margin: 0 auto;
	width: 80px;
	display: block;
	height: 80px;
}

#main-menu {
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	margin-top: 15px;
}

#main-menu li {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #ccc;
	/* padding: 10px; */
}

#main-menu li a {
	text-decoration: none;
	padding: 10px;
	display: block;
	/* border-bottom: 1px solid green; */
}

#main-menu li a {
	cursor: pointer;
}

#main-menu li a:hover {
	border-bottom: 1px solid green;
	/* border-bottom: 1px solid green; */
}

a {
	text-decoration: none;
	cursor: pointer;
}
/* END LOGO */
