* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* BEGIN SEARCH BAR */
#search-bar {
	display: flex;
	width: 100%;
	padding: 5px 15px;
	position: relative;
	justify-content: center;
}

#main-header {
	position: relative;
}

#search-bar .icon {
	padding: 5px 15px;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #b5fdc8;
}

#search-bar input {
	border: 1px solid black;
	outline: none;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: none;
	width: 100%;
	background-color: #b5fdc8;
	padding: 5px 15px;
}

/* END SEARCH BAR */

/* BEGIN LOGO */

#logo {
	margin: 0 auto;
	width: 80px;
	display: block;
	height: 80px;
}

#main-menu {
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	margin-top: 15px;
}

#main-menu li {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #ccc;
	/* padding: 10px; */
}

#main-menu li a {
	text-decoration: none;
	padding: 10px;
	display: block;
	/* border-bottom: 1px solid green; */
}

#main-menu li a {
	cursor: pointer;
}

#main-menu li a:hover {
	border-bottom: 1px solid green;
	/* border-bottom: 1px solid green; */
}

a {
	text-decoration: none;
	cursor: pointer;
}
/* END LOGO */
